/**
 * Aaron Purple theme for reveal.js.
 */

@use 'template/mixins' as reveal-mixins;
@use '../../shared/presenter-theme' as presenter-theme;

$background-color: #d6d1f7;
$background-image: url('images/asanoha-400px.png');
$heading-color: #8377d1;
$link-color: #6254b8;
$link-color-dark: #433887;
$link-color-hover: #71e9f4;

@use 'template/settings' with (
	$background: $background-image repeat,
	$background-color: $background-color,
	$main-font: "'Open Sans', Arial, sans-serif",
	$main-font-size: 36px,
	$main-color: rgba(0, 0, 0, 0.5),
	$heading-font: "'Open Sans', Arial, sans-serif",
	$heading-color: $heading-color,
	$heading-line-height: 1em,
	$heading-letter-spacing: -2px,
	$heading-text-transform: none,
	$link-color: $link-color,
	$link-color-dark: $link-color-dark,
	$link-color-hover: $link-color-hover,
	$selection-background-color: #ada7c9,
	$selection-color: #fff,
	$overlay-element-bg-color: (255, 255, 255),
	$overlay-element-fg-color: (17, 17, 17)
);

@use 'template/theme';

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@include reveal-mixins.light-bg-text-color(#111);
@include reveal-mixins.dark-bg-text-color(#fff);

@include presenter-theme.styles(
	$background-color: $background-color,
	$background-image: $background-image,
	$background-size: auto,
	$heading-color: $heading-color,
	$link-color: $link-color,
	$link-hover-color: $link-color-hover,
	$highlight-background: #d6d1f7,
	$highlight-text: #8377d1,
	$code-background: #5a5475,
	$code-text: #f8f8f2,
	$code-keyword: #ffb8d1,
	$code-emphasis: #fff352,
	$code-number: #c5a3ff,
	$code-symbol: #c2ffdf,
	$code-string: #ffea00,
	$code-comment: #e6c000
);
