/**
 * Aaron Purple theme for reveal.js.
 */
/**
 * Shared Presenter-specific styles used by Aaron Purple and Aaron Brand.
 */
:root {
  --r-background: url("images/asanoha-400px.png") repeat;
  --r-background-color: #d6d1f7;
  --r-main-font: 'Open Sans', Arial, sans-serif;
  --r-main-font-size: 36px;
  --r-main-color: rgba(0, 0, 0, 0.5);
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: 'Open Sans', Arial, sans-serif;
  --r-heading-color: #8377d1;
  --r-heading-line-height: 1em;
  --r-heading-letter-spacing: -2px;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: normal;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 3.77em;
  --r-heading2-size: 2.11em;
  --r-heading3-size: 1.55em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: #6254b8;
  --r-link-color-dark: #433887;
  --r-link-color-hover: #71e9f4;
  --r-selection-background-color: #ada7c9;
  --r-selection-color: #fff;
  --r-overlay-element-bg-color: 255, 255, 255;
  --r-overlay-element-fg-color: 17, 17, 17;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
.reveal-viewport {
  background: var(--r-background);
  background-color: var(--r-background-color);
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}

.reveal h1 {
  font-size: var(--r-heading1-size);
}

.reveal h2 {
  font-size: var(--r-heading2-size);
}

.reveal h3 {
  font-size: var(--r-heading3-size);
}

.reveal h4 {
  font-size: var(--r-heading4-size);
}

.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.3;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: var(--r-block-margin) auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: var(--r-block-margin) auto;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--r-code-font);
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal .code-wrapper {
  white-space: normal;
}

.reveal .code-wrapper code {
  white-space: pre;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: var(--r-block-margin) 0;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--r-link-color);
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: var(--r-link-color-hover);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Italic.woff2") format("woff2"), url("fonts/OpenSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #111;
}

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

.reveal:not(.ready) .slides section:has(script[src*="www.gstatic.com/charts/loader.js"]) {
  display: block;
}

@font-face {
  font-family: "MythBusters";
  src: url("fonts/MythBusters.woff2") format("woff2"), url("fonts/MythBusters.woff") format("woff"), url("fonts/MythBusters.ttf") format("truetype");
  font-display: swap;
}
.reveal span.myth-busted,
.reveal span.myth-plausible,
.reveal span.myth-confirmed {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 30px;
  transform: translate(-50%, -50%) rotate(-10deg);
  border: 10px solid #c00;
  background: rgba(214, 209, 247, 0.5);
  color: #c00;
  font-family: "MythBusters", sans-serif;
  font-size: 5em;
}
.reveal span.stamp {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 30px;
  transform: translate(-50%, -50%) rotate(-10deg);
  border: 10px solid #8377d1;
  background: rgba(214, 209, 247, 0.75);
  color: #8377d1;
  font-size: 5em;
}
.reveal .permalink {
  display: none;
}
.reveal a.social-icon-link {
  vertical-align: middle;
  white-space: nowrap;
}
.reveal a.social-icon-link svg {
  width: 1em;
  max-width: 1em;
  max-height: 1em;
  vertical-align: middle;
  fill: #6254b8;
}
.reveal .persistent-twitter-link {
  position: fixed;
  z-index: 30;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 75%;
}
.reveal .persistent-twitter-link a:hover svg {
  fill: #71e9f4;
}
.reveal blockquote {
  color: #8377d1;
}
.reveal code {
  tab-size: 4;
}
.reveal .slides section img {
  margin: 15px 0;
  border: 0;
  box-shadow: none;
}
.reveal .slides section a:hover img {
  border-color: #6254b8;
}
.reveal .slides section .fragment.remove-when-hidden:not(.visible) {
  display: none;
}
.reveal .slides section .fragment.swap-out {
  display: inline;
  visibility: visible;
  opacity: 1;
}
.reveal .slides section .fragment.swap-out.block {
  display: block;
}
.reveal .slides section .fragment.swap-out.visible {
  display: none;
}
.reveal .slides section .fragment.swap-in {
  display: none;
}
.reveal .slides section .fragment.swap-in.visible {
  display: inline;
  visibility: visible;
  opacity: 1;
}
.reveal .slides section .fragment.swap-in.visible.block {
  display: block;
}
.reveal .slides section .box-solid {
  padding: 0.25em;
  border-radius: 0.2em;
  background-color: #d6d1f7;
  background-image: url("images/asanoha-400px.png");
  background-size: auto;
}
.reveal .slides section .fragment.always-visible.highlight,
.reveal .slides section .fragment.always-visible.highlight-current,
.reveal .slides section .fragment.always-visible.highlight-text,
.reveal .slides section .fragment.always-visible.highlight-current-text,
.reveal .slides section .fragment.always-visible.highlight-bold,
.reveal .slides section .fragment.always-visible.highlight-current-bold {
  visibility: inherit;
  opacity: 1;
}
.reveal .slides section .highlight,
.reveal .slides section .fragment.highlight.visible,
.reveal .slides section .fragment.highlight-current.current-fragment {
  background: rgba(214, 209, 247, 0.7);
}
.reveal .slides section .highlight-text,
.reveal .slides section .fragment.highlight-text.visible,
.reveal .slides section .fragment.highlight-current-text.current-fragment {
  color: #8377d1;
}
.reveal .slides section .highlight-bold,
.reveal .slides section .fragment.highlight-bold.visible,
.reveal .slides section .fragment.highlight-current-bold.current-fragment {
  font-weight: bold;
}
.reveal .slides section .dark {
  background-color: rgba(0, 0, 0, 0.75);
}
.reveal .slides section .light {
  background-color: rgba(255, 255, 255, 0.75);
}
.reveal .slides section .columns,
.reveal .slides section ul.columns {
  display: grid;
  gap: 1em;
}
.reveal .slides section .columns.two,
.reveal .slides section ul.columns.two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.reveal .slides section .columns.three,
.reveal .slides section ul.columns.three {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.reveal .slides section .columns.four,
.reveal .slides section ul.columns.four {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.reveal .slides section .columns li,
.reveal .slides section ul.columns li {
  height: auto;
}
.reveal .gallery-item {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: top;
}
.reveal .gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.reveal .gallery-columns-3 .gallery-item {
  max-width: 33.3333333333%;
}
.reveal .gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.reveal .gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.reveal .gallery-columns-6 .gallery-item {
  max-width: 16.6666666667%;
}
.reveal .gallery-columns-7 .gallery-item {
  max-width: 14.2857142857%;
}
.reveal .gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.reveal .gallery-columns-9 .gallery-item {
  max-width: 11.1111111111%;
}
.reveal .gallery-caption {
  display: block;
}

.dark-box-twitter .persistent-twitter-link {
  background-color: rgba(0, 0, 0, 0.7);
}

.box-twitter .persistent-twitter-link {
  border-radius: 0.2em;
  background-color: #d6d1f7;
  background-image: url("images/asanoha-400px.png");
  background-size: auto;
}

.hide-twitter .persistent-twitter-link {
  display: none;
}

.rotate-twitter .persistent-twitter-link {
  margin-left: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0.5em 50%;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #5a5475;
  color: #f8f8f2;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #ffb8d1;
}

.hljs-selector-class,
.hljs-class .hljs-title {
  color: #fff352;
}

.hljs-number {
  color: #c5a3ff;
}

.hljs-code {
  color: #c2ffdf;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #c2ffdf;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #ffea00;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #e6c000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}

@media screen and (max-width: 699px) {
  .reveal p.persistent-twitter-link {
    display: none;
  }
  .reveal .slides section .columns,
  .reveal .slides section ul.columns {
    grid-template-columns: 1fr;
  }
}
